<mat-card class="navbar">
    <div class="container">

        <div class="nav">

            <div class="left-side">

                <div class="nav-link-wrapper">
                    <a href="index.html">Home</a>
                </div>

                <div class="nav-link-wrapper">
                    <a href="about.html">About</a>
                </div>

            </div>

            <div class="right-side">
                <div class="brand">
                    <a href="index.html">Dragonul Blanao Co.</a>
                </div>
            </div>

        </div>
        <div></div>
    </div>
</mat-card>